body {
	font-size: 16px;
	color: #fff;
	background-color: #28953c;
}

#header-nav {
	background-color: #11491c;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}

#logo-img {
	background: url('../images/burger.jpeg') no-repeat;
	width: 300px;
	height: 168px;
	margin: 10px 15px 10px 0;
	border-radius: 8px;
}

.navbar-brand {
	height: auto;
}
.navbar-brand a {
	color: #fff;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}
.navbar-brand h1 {
	font-size: 50px;
	margin-top: 0;
}

#menu-heading h2 {
	font-size: 40px;
}

h2, h3, p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#collapsable-nav {
	background-color: #90fda4;
	border: none;
	margin-top: 0;
}

#nav-list a {
	color: #000;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav-list hr {
	border-color: #000;
	margin: 0;
}

@media (min-width: 768px) {
	#collapsable-nav {
		display: none !important;
	}
}

#main-content {
	background-color: #02260a;
}